body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #1a1a1a, #2d2d2d);
  font-family: "Arial", sans-serif;
  color: white;
}

.container {
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

audio {
  display: none;
}

#score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  z-index: 1;
  pointer-events: none;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-gap: 20px;
  margin: 30px;
  position: relative;
}

.color {
  width: 150px;
  height: 150px;
  border-radius: 20%;
  cursor: pointer;
  border: none;
  transition: all 0.1s ease;
  opacity: 0.6;
}

.color:hover {
  opacity: 0.9;
}

#red {
  background: red;
  box-shadow: 0 0 20px #ff0000;
}

#blue {
  background: blue;
  box-shadow: 0 0 20px #0000ff;
}

#green {
  background: green;
  box-shadow: 0 0 20px #00ff00;
}

#yellow {
  background: yellow;
  box-shadow: 0 0 20px #ffff00;
}

.neon-button {
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 17px;
  background-color: #222738;
  color: #fff;
  border-radius: 20px;
  border: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 50px;
}

.neon-button:hover {
  background: #bb86fc;
  color: #2d2d2d;
  box-shadow: 0 0 10px #bb86fc, 0 0 10px #bb86fc, 0 0 20px #bb86fc;
}


.active {
  opacity: 1 !important;
  transform: scale(1.1);
  filter: brightness(1.5);
  box-shadow: 0 0 30px white;
}

#backToMenu {
  position: fixed;
  top: 20px;
  left: 60px;
  padding: 10px 20px;
  font-size: 1.3rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 17px;
  background-color: #222738;
  color: #fff;
  border-radius: 20px;
  border: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 50px;
  z-index: 2;
}

#backToMenu:hover {
  background: #bb86fc;
  color: #2d2d2d;
  box-shadow: 0 0 10px #bb86fc, 0 0 10px #bb86fc, 0 0 20px #bb86fc;
}

.area {
  background: #222738;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 4s;
}

.circles li:nth-child(9) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 20s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 55%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.circles li:nth-child(12) {
  left: 35%;
  width: 100px;
  height: 30px;
  animation-delay: 4s;
  animation-duration: 30s;
}

#mute-button {
  position: fixed;
  top: 20px;
  right: 100px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #00ffff;
  z-index: 1000;
}

#mute-button:hover {
  color: #ff00ff;
}

#volume-control {
  position: fixed;
  top: 76px; /* Debajo del botón de silenciar */
  right: 20px;
  z-index: 1000;
}

#volume-slider {
  width: 199px;
}

@keyframes animate {
  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}